<%- include('partials/header') %>
<section id="Login" class="login-section tabcontent">
    <div class="row margin-left50">

        <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
        <% } %>
        <img src="assets/images/login.png">
        <div class="col-md-6 col-sm-12 col-xs-12 login-me-div">

            <div class=" login-section-space-padding section-title login-section-text">

                <form method="post">
                    <br>
                    <div class="">
                        <div class="form-group form-inputt">
                            <span class="fa fa-user color-green position-absolute fontsize-48"></span><input type="text" id="username" name="username" class="fa fa-user form-control margin-left-50" placeholder="Username">
                        </div>
                    </div>

                    <div class="">
                        <div class="form-group form-inputt">
                            <span class="fa fa-lock color-red position-absolute fontsize-48"></span><input type="password" id="password" name="password" class="fa fa-user form-control margin-left-50" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center ">
                        <button type="submit" class="login-button"> <img src="assets/images/login-button-blue.png"></button>
                    </div>
                </form>

                <span>Not Registered?</span><a onclick="openCity(event, 'Signup')" href="/register"  class="login-button-tex color-blue tablinks"><img src="assets/images/register-here.png"></a><br>
                <br>
            </div>
        </div>
    </div>
</section>



<!-- All Javascript Plugins  -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugin.js"></script>
<!-- Main Javascript File  -->
<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script type="text/javascript" src="/assets/js/typed.js"></script>

<!--%- include('partials/footer') %>
